<template>
    <label class={labelName} for="example-unique-id-21">
        <input type="checkbox" class="slds-assistive-text" id="example-unique-id-21" value="example-unique-id-21" ></input>
        <span class="slds-icon_container slds-current-color">
            <lightning-icon icon-name={iconName} size="x-small" onclick={handleClick}></lightning-icon>
        </span>
    </label>
</template>